.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 637px}
.u-section-1 .u-text-1 {font-weight: 700; font-size: 3.125rem; margin: 230px 19px 0 auto}
.u-section-1 .u-image-1 {width: 505px; height: 505px; margin: -213px auto 0 -81px}
.u-section-1 .u-text-2 {font-size: 1.25rem; font-weight: 700; margin: -282px 19px 0 524px}
.u-section-1 .u-btn-1 {border-style: none; font-weight: 700; text-transform: uppercase; font-size: 1rem; letter-spacing: 1px; background-image: none; margin: 37px 172px 0 auto; padding: 7px 19px}
.u-section-1 .u-btn-2 {border-style: none; font-weight: 700; text-transform: uppercase; font-size: 1rem; letter-spacing: 1px; background-image: none; margin: -39px 19px 60px auto; padding: 7px 19px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 570px}
.u-section-1 .u-text-1 {width: auto; margin-left: 675px}
.u-section-1 .u-image-1 {width: 416px; height: 411px; margin-top: -172px; margin-left: 10px}
.u-section-1 .u-text-2 {width: auto; margin-top: -230px; margin-left: 452px}
.u-section-1 .u-btn-1 {margin-top: 14px; margin-right: 170px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 638px}
.u-section-1 .u-text-1 {margin-right: 0; margin-left: 474px}
.u-section-1 .u-text-2 {margin-top: -229px; margin-right: 0; margin-left: 251px}
.u-section-1 .u-btn-1 {margin-top: -225px; margin-right: 169px}
.u-section-1 .u-btn-2 {margin-right: 0} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 408px}
.u-section-1 .u-text-1 {width: 211px; margin-top: 189px; margin-left: auto; margin-right: auto}
.u-section-1 .u-image-1 {margin-top: 20px; margin-left: 55px}
.u-section-1 .u-text-2 {margin-top: 20px; margin-left: 0}
.u-section-1 .u-btn-1 {margin-top: 59px; margin-right: auto; margin-left: 144px}
.u-section-1 .u-btn-2 {margin-right: 141px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 333px}
.u-section-1 .u-text-1 {font-size: 3rem; margin-top: 183px}
.u-section-1 .u-image-1 {width: 340px; height: 336px; margin-left: 170px}
.u-section-1 .u-text-2 {margin-right: 0; margin-bottom: 0}
.u-section-1 .u-btn-1 {margin-top: 7px; margin-left: 47px}
.u-section-1 .u-btn-2 {margin-right: 47px; margin-bottom: 51px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 457px}
.u-section-2 .u-shape-1 {width: 570px; height: 228px; background-image: none; animation-duration: 1000ms; margin: 95px 0 0 auto}
.u-section-2 .u-image-1 {width: 49px; height: 49px; background-image: url("images/3fee6a2ca615db373cd2a087a8a24e8a.png"); background-position: 50% 50%; margin: -216px 510px 0 auto}
.u-section-2 .u-text-1 {font-weight: 700; font-size: 1.1875rem; margin: -49px 364px 0 642px}
.u-section-2 .u-text-2 {font-size: 0.75rem; margin: -18px 322px 0 777px}
.u-section-2 .u-text-3 {font-size: 1rem; margin: 12px 29px 0 642px}
.u-section-2 .u-text-4 {margin: -49px auto 0 0}
.u-section-2 .u-text-5 {font-size: 1.25rem; font-weight: 700; margin: 8px 694px 60px 0} 

@media (max-width: 1199px){ .u-section-2 .u-shape-1 {width: 465px; height: 235px; margin-top: 88px; margin-right: 1px}
.u-section-2 .u-image-1 {width: 50px; height: 50px; margin-top: -228px; margin-right: 406px}
.u-section-2 .u-text-1 {margin-top: -38px; margin-right: 264px; margin-left: 542px}
.u-section-2 .u-text-2 {margin-right: 222px; margin-left: 677px}
.u-section-2 .u-text-3 {width: auto; margin-right: 69px; margin-left: 542px}
.u-section-2 .u-text-4 {width: auto; margin-top: -64px; margin-right: 627px}
.u-section-2 .u-text-5 {width: auto; margin-top: 12px} }

@media (max-width: 991px){ .u-section-2 .u-shape-1 {width: 394px}
.u-section-2 .u-image-1 {margin-top: -230px; margin-right: auto}
.u-section-2 .u-text-1 {font-size: 1.25rem; width: auto; margin-top: -44px; margin-right: 191px; margin-left: 395px}
.u-section-2 .u-text-2 {width: auto; margin-top: -19px; margin-right: 134px; margin-left: 545px}
.u-section-2 .u-text-3 {margin-top: 9px; margin-right: 23px; margin-left: 395px}
.u-section-2 .u-text-4 {width: 313px; margin-top: -140px; margin-left: 204px; margin-right: 204px}
.u-section-2 .u-text-5 {margin-top: 36px; margin-right: 473px; margin-left: 1px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 532px}
.u-section-2 .u-shape-1 {margin-top: 20px; margin-left: 0}
.u-section-2 .u-image-1 {margin-top: 20px; margin-left: 0}
.u-section-2 .u-text-1 {margin-top: -34px; margin-right: 81px; margin-left: 325px}
.u-section-2 .u-text-2 {margin-right: 24px; margin-left: 475px}
.u-section-2 .u-text-3 {margin-top: 20px; margin-right: -20px; margin-left: 20px}
.u-section-2 .u-text-4 {margin-top: 10px; margin-right: 227px; margin-left: 0}
.u-section-2 .u-text-5 {margin-right: 294px; margin-left: 0} }

@media (max-width: 575px){ .u-section-2 .u-shape-1 {width: 340px; margin-top: 255px; margin-right: 0; margin-bottom: 0}
.u-section-2 .u-image-1 {margin-top: -410px; margin-right: 299px; margin-bottom: 0}
.u-section-2 .u-text-1 {margin-right: 262px; margin-left: 206px}
.u-section-2 .u-text-2 {margin-right: 0; margin-left: 299px}
.u-section-2 .u-text-3 {margin-right: 0; margin-left: 0}
.u-section-2 .u-text-4 {margin-right: 14px}
.u-section-2 .u-text-5 {margin-right: 94px} }